:root {
  --commons-lighthouse-black: #171717;
  --commons-harbour-charcoal: #23272B;
  --commons-breakwater-slate: #3C454D;
  --commons-pier-grey: #66717B;
  --commons-lake-mist: #DDE2E6;
  --commons-sail-white: #F5F6F7;
  --commons-port-credit-navy: #1D2347;
  --commons-technical-blue: #0072B2;
  --commons-pcss-gold: #FCD937;
}
